
@media screen and (max-width: 980px) {
  nav {
    clear: both;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  #logo {
    width: 100%;
  }
  #main-container {
    margin: 0 auto;
    max-width: 93%;
    padding: 0px;
  }
  #masthead {
    margin: 0 0 20px;
    position: static;
  }
  .container {
    max-width: 980px;
    width: 100%;
  }
  .main-section {
     margin-bottom: 20px;
  }
 }
 @media screen and (max-width: 768px) {
  nav {
    clear: both;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  #logo {
    width: 100%;
  }
  #main-container {
    margin: 0 auto;
    max-width: 93%;
    padding: 0px;
  }
  #masthead {
    margin: 0 0 20px;
    position: static;
  }
  .container {
    max-width: 768px;
    width: 100%;
  }
  .main-section {
     margin-bottom: 20px;
  }
 }
 @media screen and (max-width: 640px) {
  nav {
    clear: both;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  #logo {
    width: 100%;
  }
  #main-container {
    margin: 0 auto;
    max-width: 93%;
    padding: 0px;
  }
  #masthead {
    margin: 0 0 20px;
    position: static;
  }
  .container {
    max-width: 640px;
    width: 100%;
  }
  .main-section {
     margin-bottom: 20px;
  }
 }